.item {
  @include flex-center(start, center);
  width: 32%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.12s ease-in-out;
  border: 1px solid rgba(86, 86, 86, 0.09);
  list-style: none;
  text-decoration: none;
  color: black;
  &:hover {
    background-color: rgb(246, 246, 246);
  }

  &__image {
    width: 15%;
    height: 55%;
    margin: 0 20px;
  }

  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.13);
    cursor: pointer;
  }

  h3 {
    font-size: 90%;
    margin: 0;
    padding: 0;
  }
  p {
  }

  p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    color: rgb(98, 98, 98);
  }

  &--decs {
    background-color: rgb(249, 249, 255);
    border: 1px solid rgba(86, 86, 86, 0.051);

    &:hover {
      background-color: rgb(242, 242, 250);
    }
  }
}

.progress-bar {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: 10px;
  @include flex-center(center, center);

  &__circle-white {
    @include flex-center(center, center);
    width: 78%;
    height: 78%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 8;
  }

  &__circle {
    @include flex-center(center, center);
    width: 100%;
    height: 100%;
    background: conic-gradient(rgb(96, 221, 167) 0deg, rgb(246, 246, 246) 0deg);
    border-radius: 100%;
    z-index: 10;
  }

  @keyframes circleAnimation {
    0% {
      background: conic-gradient(
        rgb(96, 221, 167) 0deg,
        rgb(246, 246, 246) 0deg
      );
    }
    100% {
      background: conic-gradient(
        rgb(96, 221, 167) 288deg,
        rgb(246, 246, 246) 288deg
      );
    }
  }

  &__text-block {
    @include flex-center(center, center);
    flex-direction: column;

    h3 {
      margin: 0;
      font-size: 12px;
      font-weight: 700;
    }
    p {
      margin-top: 5px;
      padding: 0;
      font-size: 9px;
      font-weight: 500;
    }
  }
}
